@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,800,900');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

* {
  outline: none !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, :after, :before {
box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #0B4C8C;
}

header {
  position: relative;
  z-index: 1000000;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

/* Make navbar fit tighter */
.navbar {
  padding: 0.7rem 7rem;
  padding-top: 0.8rem;
  border-bottom: solid #00000020 0.04rem;
}

/* Change font of navbar brand */
.navbar-brand {
  font-weight: 600;
  font-size: 1.7rem;
}

.navbar-nav > .nav-item:not(:last-child) {
  padding-right: 2rem;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #0B4C8CBF;
  transition: 0.2s;
}

.navbar-light .navbar-brand {
  color: #0B4C8C;
  transition: 0.2s;
}

/* Change colors of navbar links */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #0B4C8C;
  transition: 0.2s;
}

.navbar-light .navbar-nav .nav-link {
  color: #0B4C8CBF;

  transition: 0.2s;
}
/*              END SECTION              */
/*---------------------------------------*/



/*--------- HOME HERO CAROUSEL ----------*/
/* Make carousel fullscreen */
.carousel-fullscreen .carousel-inner .carousel-item {
  height: 100vh;
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Carousel vertically centered caption */
.carousel-fullscreen .carousel-caption {
  top: 50%;
  bottom: auto;
  text-align: left;
  padding-left: 2rem;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* Carousel font alterations */
.carousel-caption {
  color: #0B4C8C;
  opacity: 1.0;
}

.carousel-caption h1 {
  font-size: 5rem;
  font-weight: 900;
}

.carousel-caption p {
  font-size: 2.5rem;
  font-family: 'La Belle Aurore', cursive;
}

/* Carousel buttons */
.hero-buttons {
  width: 100%;
}

.user-btn-grp {
  position: absolute;
  bottom: 2.5rem;
}

.user-btn-grp .btn {
  border: none;
  height: 3.8rem;
  width: 10rem;
  margin: 0 3rem;
  background-color: #8BC541E6;
  transition: 0.2s;
}

.user-btn-grp .btn:hover,
.user-btn-grp .btn:focus {
  background-color: #8BC541;
  box-shadow: -.07rem .07rem .14rem #000000BF;
}

.btn {
  padding-top: 1.1rem;
  height: 25px;
  white-space: normal;
}

.btn-2-line {
  padding-top: .5rem;
}
/*              END SECTION              */
/*---------------------------------------*/



/*--------- SECTION 1: LEARN MORE ----------*/
.sec1 .header {
  color: rgba(0, 0, 0, 0.7);
  height: 55vh;
  border-top: solid .09rem #afcce5;
  border-bottom: solid .25rem #afcce5;
  width: 100%;
  margin: 0;
}

.sec1 .stripe {
  height: 45vh;
  width: 100%;
  background-color: #0B4C8C20;
  margin: 0;
}

.sec1 .carousel-full {
  padding: 0;
}

.sec1 .header .header-text {
  top: 17.5%;
}

.sec1 .header .header-text p {
  font-size: 1.3rem;
}

/* Carousel Slider Setup */

.sec1 .carousel-item {
  z-index: 100;
}

.sec1 .carousel-image {
  height: 45vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto 100%;
  width: 50%;
  transform: translateX(100%);
}

.sec1 .carousel-caption {
  height: 45vh;
  bottom: 0;
  left: 0;
  color: white;
  width: 50%;
  padding: 3rem 6rem;
  color: #0B4C8C;
}

.sec1 .carousel-caption h2 {
  font-weight: 600;
}

.sec1 .carousel-caption h5 {
  font-size: 1rem;
}

.sec1 .carousel-caption .btn {
  color: #0B4C8C;
}

.sec1 .carousel-caption .btn:hover {
  color: #0B4C8CBF;
}

/* Carousel Indicators Setup */
.carousel-indicators {
 list-style: none;
 top: -50%;
 z-index: 10;
}

.carousel-indicators li, .carousel-indicators li.active{
 width: 150px;
 height: 150px;
 background-color: #fff;
 position: relative;
 margin: 10px;
 background-color: transparent;
}

.carousel-indicators img{
 position: absolute;
 width: 100%;
 border-radius: 8%;
 top: 0;
 left: 0;
 padding: 1rem;
 opacity: 0.7;
}

.carousel-indicators li {
 text-indent: 0px;
 color: rgba(0,0,0,0.6);
 text-align: center;
 transition: 0.5s;
}

.carousel-indicators img:hover {
 opacity: 1.0;
}
.carousel-indicators .active img {
 background-color: rgba(0,0,0,0.05);
 transition: 0.8s;
 opacity: 1.0;
}

.carousel-indicators h5 {
 position: absolute;
 bottom: 5%;
 left: 0;
 right: 0;
 margin-left: auto;
 margin-right: auto;
 font-size: 1rem;
}
/*              END SECTION              */
/*---------------------------------------*/



/*--------- SECTION 2: INFO ----------*/
.satisfaction {
  display: block;
  height: auto;
  clear: both;
  float: left;
  width: 100%;
  border-top: solid .25rem #afcce5;
  min-height: 37.5vw;
}

.satisfaction .left-container {
  background-image: linear-gradient(
                    rgba(255, 255, 255, 0.1),
                    rgba(255, 255, 255, 0.3)),
                    url('../images/kiosk.png');
  background-position: center right;
  background-color: #fff;
  background-size: 90%;
  background-repeat: no-repeat;
  float: left;
  min-height: 37.5vw;
  width: 40%;
}

.satisfaction .right-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 37.5vw;
  background-image: linear-gradient(
                    rgba(255, 255, 255, 0.3),
                    rgba(255, 255, 255, 0.6)),
                    url('../images/desk_bg.jp2');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 60%;
  float: left;
}

.satisfaction .right-content {
  max-width: 60%;
}

.satisfaction .testimonial {
  margin-bottom: 1rem;
}

.satisfaction .signature {
  font-family: 'La Belle Aurore', cursive;
  font-size: 1.4rem;
  text-align: right;
  transform: translate(-20%, -20%);
}

/* Fixes signature placement */
.satisfaction .sig-fix {
  transform: translate(-20%, -70%);
}
/*              END SECTION              */
/*---------------------------------------*/



/*--------- SECTION 3: OVERVIEW ----------*/
.overview {
  display: block;
  height: auto;
  clear: both;
  float: left;
  width: 100%;
  border-top: solid .25rem #afcce5;
  background-color: #e4edf6;
  min-height: 45vw;
}

.overview .left-container {
  background-image: url('../images/facts-left.png');
  background-position: center center;
  background-size: 75%;
  background-repeat: no-repeat;
  float: left;
  min-height: 45vw;
  width: 50%;
}

.overview .right-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 45vw;
  width: 50%
  float: left;
}

.overview .right-content {
  max-width: 70%;
  margin-top: 2rem;
}

.overview-fact {
  display: block;
  clear: both;
  float: left;
  margin-bottom: 1rem;
}

.overview-fact img {
  max-width: 100px;
  float: left;
  clear: right;
  display: inline-block;
  margin: 25px 50px 50px 0px;
}

.overview-fact h4 {
  font-size: 1.3rem;
}

.overview-fact p {
  font-size: 1.2rem;
}
/*              END SECTION              */
/*---------------------------------------*/



/*--------- SECTION 4: Contact ----------*/
.contact {
  display: block;
  height: auto;
  clear: both;
  float: left;
  width: 100%;
  border-top: solid .25rem #afcce5;
  background-color: #fff;
  max-height: 350px;
}

.contact .contact-content {
  max-height: 350px;
  text-align: center;
  color: #0B4C8C60;
  width: 50%;
  margin: 2rem auto;
}

.contact .contact-content h1 {
  opacity: 1.0;
}

.contact .form-group {
  justify-content: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.contact .form-control {
  padding: .7rem;
  margin: 0.4rem 1rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid #00000090;
  border-radius: 0;
  opacity: 0.4;
  transition: 0.3s;
  width: 100%;
}

.contact .form-control:focus,
.contact .form-control:hover {
  border: none;
  border-bottom: 2px solid #00000090;
  opacity: 0.9;
  transition: 0.3s;
}

.contact .form-group .btnD1 {
  background: transparent;
  border: 2px solid #00000090;
  color: #00000090;
  height: 50px;
  padding: 0.5rem 2rem;
  opacity: 0.4;
  transition: 0.3s;
}

.contact .form-group .btnD1:focus,
.contact .form-group .btnD1:hover {
  opacity: 0.9;
  transition: 0.3s;
}
/*              END SECTION              */
/*---------------------------------------*/



/*--------- FOOTER ----------*/
footer.footer {
  font-size: 0.777777777778rem;
}

.footer .upper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  color: #ffffffE6;
  background-color: #394650;
  padding-left: 3.333rem;
  padding-right: 3.333rem;
  padding-top: 3.333rem;
  padding-bottom: 5rem;
}

.footer .nav-wrapper {
  -webkit-box-flex: 0;
  flex: 0 0 20%;
  float: left;
  width: 20%;
}

.footer .middle-container {
  text-align: center;
  float: left;
  width: 60%;
}

.footer section.socials {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  text-align: center;
  max-width: 100%;
}

footer.footer section.socials {
  -webkit-box-ordinal-group: 0;
  order: 0;
}

.footer ul {
  list-style: none;
  padding: 1rem 0;
  width: 100%;
}

.footer li {
  padding: .2rem 0;
}

.footer a {
  color: #ffffffE6;
  font-weight: 300;
  font-size: .9rem;
}

.footer a:hover {
  text-decoration: none;
  opacity: 0.7;
  transition: 0.2s;
}

.footer h6 {
  font-weight: 600;
  font-size: 1rem;
}

.footer .sci {
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .sci li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 1rem;
  transition: 0.3s;
}

.footer .sci li:hover {
  opacity: 0.7;
  transition: 0.3s;
}

/* Bottom Footer */
.footer .copyright {
  color: #ffffffE6;
  background-color: #303842;
  padding-top: .5555556rem;
  padding-bottom: 0.3333334rem;
}

.footer .copyright .inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-left: 3.33333rem;
  padding-right: 3.33333rem;
}

.footer .copyright p {
  padding: 1.5rem 0;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 0;
  font-size: 0.7rem;
}

.footer .copyright a {
  font-size: 0.7rem;
}

footer.footer .copyright figure {
  position: absolute;
  transform: translate(0, -50px);
  background-color: #303842;
  border-radius: 5%;
}
/*              END SECTION              */
/*---------------------------------------*/



/*--------- MEDIA QUIERIES ---------*/
/* > 1601px */
@media only screen and (min-width: 101rem) {
  /* Section 1: Carousel */
  .sec1 .carousel-caption {
    padding: 5rem 12rem;
  }

  .sec1 .carousel-caption h5 {
    font-size: 1.2rem;
  }

  .sec1 .carousel-caption h2 {
    font-size: 2.3rem;
  }

  .satisfaction .right-content h3 {
    font-size: 2.5rem;
  }

  .satisfaction .right-content p {
    font-size: 1.4rem;
  }
}

/* 1600px */
@media only screen and (max-width: 100rem) {
  /* Section 1: Header */
    .sec1 .header .header-text {
      top: 22%;
    }

    .sec1 .header .header-text h1 {
      font-size: 2rem;
    }

    .sec1 .header .header-text p {
      font-size: 1.3rem;
    }
}

/* 1439px */
@media only screen and (max-width: 88.9375rem) {
  .sec1 .header .header-text {
    top: 22%;
  }

  .sec1 .header .header-text h1 {
    font-size: 1.8rem;
  }

  .sec1 .header .header-text p {
    font-size: 1.1rem;
  }

  .carousel-indicators li, .carousel-indicators li.active{
    width: 130px;
    height: 130px;
  }

  .sec1 .carousel-caption h5 {
    font-size: .9rem;
  }

  .satisfaction .right-content {
    max-width: 70%;
  }
}

/* 1200px */
@media only screen and (max-width: 74.9375em){
  /* Navbar */
  .navbar {
    padding: 1rem 3rem;
  }

  .navbar-brand {
    font-size: 1.1rem;
  }

  .navbar-brand img {
    width: 25px;
    height: 25px;
  }

  .navbar-toggler {
    padding: .2rem .5rem;
  }

  /* Section 1 */
  .sec1 .carousel-caption h5 {
    font-size: 0.75rem;
  }

  .sec1 .carousel-caption h2 {
    font-size: 1.5rem;
  }

  /* Section 2 */
  .satisfaction .right-content h3 {
    font-size: 1.2rem;
  }

  .satisfaction .right-content p {
    font-size: .8rem;
  }

  /* Section 3 */
  .overview .right-content {
    max-width: 90%;
  }

  .overview-fact h4 {
    font-size: 1.1rem;
  }

  .overview-fact p {
    font-size: 1rem;
  }

  .overview-fact img {
    max-width: 90px;
  }
}

/* 991px */
@media only screen and (max-width: 61.9375em){
  /* Navbar */
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.1rem;
  }

  .navbar-brand img {
    width: 25px;
    height: 25px;
  }

  .navbar-toggler {
    padding: .2rem .5rem;
  }

  /* Home-Hero Carousel */
  .carousel-fullscreen .carousel-inner .left-just {
    background-position: right center;
  }

  .carousel-fullscreen .carousel-caption {
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 2.5rem;
  }

  .carousel-caption p {
    font-size: 1.4rem;
  }

  .w-50 {
    width: 80%!important;
  }

  .user-btn-grp .btn {
    display: block;
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    font-size: .6rem;
    padding-top: 1rem;
  }

  /* Section 1: Slider */
  .sec1 .carousel-indicators h5 {
    bottom: 8%;
    font-size: 0.75rem;
  }

  .sec1 .carousel-image {
    width: 100%;
    transform: translateX(0%);
    background-size: cover;
  }

  .sec1 .carousel-caption {
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    );
    color: #FFF;
  }

  .sec1 .carousel-caption h2 {
    font-size: 2rem;;
  }

  .sec1 .carousel-caption h5 {
    font-size: 1.3rem;
  }

  .carousel-indicators {
    top: -40%;
  }

  /* Section 2 */
  .satisfaction .left-container {
    display: none;
  }

  .satisfaction .right-container {
    width: 100%;
    min-height: 40vh;
  }

  .satisfaction .right-content {
    max-width: 60%;
  }

  /* Section 3 */
  .overview .left-container {
    display: none;
  }

  .overview .right-content {
    max-width: 70%;
  }

  /* Section 4 */
  .contact .contact-content {
    width: 75%;
  }
}

/* 767px */
@media only screen and (max-width: 46.9375em) {
  /* Section 1: Carousel */
  .sec1 .header .header-text h1 {
    font-size: 1.5rem;
  }

  .sec1 .header .header-text p {
    font-size: .8rem;
  }

  .sec1 .carousel-caption h2 {
    font-size: 1.4rem;
  }

  .sec1 .carousel-caption h5 {
    font-size: .9rem;
  }

  .sec1 .carousel-caption {
    padding: 4rem 8rem;
  }

  /* Section 2 */
  .satisfaction .left-container {
    display: none;
  }

  .satisfaction .right-container {
    width: 100%;
    min-height: 60vh;
  }

  .satisfaction .right-content {
    max-width: 80%;
  }

  /* Section 3 */
  .overview .right-content {
    max-width: 80%;
  }

  .overview-fact h4 {
    font-size: 1rem;
  }

  .overview-fact p {
    font-size: 0.8rem;
  }

  .overview-fact img {
    max-width: 60px;
  }

  /* Section 4 */
  .contact .contact-content {
    width: 95%;
  }

  .contact .contact-content h1 {
    font-size: 1.6rem;
  }

  .contact .form-control {
    font-size: .7rem;
    margin-left: .2rem;
  }

  .contact .btn {
    font-size: .8rem;
    padding: 0;
  }

  /* Footer */
  .footer .nav-wrapper {
    flex: 0 0 100%;
    width: 100%;
    text-align: center;
  }

  footer.footer section.socials {
    order: -1;
    margin-bottom: 2rem;
  }

  footer.footer h6 {
    margin-bottom: 10px !important;
    margin-top: 20px !important;
  }

  footer.footer .copyright figure {
    display: none;
  }
}

/* 479px */
@media only screen and (max-width: 29.9375em) {
  /* Section 1 */
  .sec1 .header .header-text {
    top: 30%;
    padding: 0;
  }

  .sec1 .header .header-text h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .sec1 .header .header-text p {
    font-size: 1rem;
  }

  .sec1 .carousel-indicators {
    display: none;
  }

  .sec1 .carousel-caption h2 {
    font-size: 1.3rem;
  }

  .sec1 .carousel-caption h5 {
    font-size: .9rem;
  }

  .sec1 .carousel-caption {
    padding: 2rem 2rem;
  }

  .satisfaction .right-container {
    background-position: center center;
  }

  .satisfaction .testimonial p {
    font-size: .7rem;
  }
}

/* 336px */
@media only screen and (max-width: 21em) {
  /* Home Hero Carousel */
  .carousel-caption h1 {
    font-size: 2.1rem;
  }

  .carousel-caption p {
    font-size: 1.1rem;
  }

  .user-btn-grp .btn {
    width: 9rem;
    height: 2.5rem;
    padding-top: .8rem;
  }

  /* Section 1: Carousel */
  .sec1 .header .header-text h1 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .sec1 .header .header-text p {
    font-size: .8rem;
  }

  .sec1 .carousel-caption h2 {
    font-size: 1.1rem;
  }

  .sec1 .carousel-caption h5 {
    font-size: .6rem;
  }

  .sec1 .carousel-caption {
    padding: 2rem 1.5rem;
  }

  /* Section 2 */
  .satisfaction .testimonial h3 {
    font-size: .9rem;
  }

  .satisfaction .testimonial p {
    font-size: .6rem;
  }

  /* Section 3 */
  .overview .right-content {
    max-width: 85%;
  }

  .overview-fact h4 {
    font-size: .9rem;
  }

  .overview-fact p {
    font-size: 0.6rem;
  }

  .overview-fact img {
    max-width: 50px;
  }

  /* Section 4 */
  .contact .contact-content {
    width: 100%;
  }

  .contact .contact-content h1 {
    font-size: 1.4rem;
  }

  .contact .form-control {
    font-size: .6rem;
    margin-left: .4rem;
    margin-right: .4rem;
  }

  .contact .btn {
    font-size: .8rem;
    padding: 0;
  }
}
